*{
    background-color: #D8B988;
    color: black;
    color: white;
}

img{
    width: 200px;
    

}

/*---------------------------------------------------------------*/

/* Header*/

.container-header{
    text-align: center;
    padding: 20px;
    background-color: #D28900;
    border-radius: 5px;
    border: 1px solid chocolate;
}

.container-header h1{
    background-color: #D28900;
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;
}

.container-header h3{
    background-color: #D28900;
}

.container-header .logo{
    
     background-color: #D28900;
    
}

.web{
    font-size: 1.5em;
}

/*----------------------------------------------------------------*/

/*Nav*/

.container-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #c9b18a;
    font-size: 2em;
   
}

.container-nav .button{
    background-color: #D28900;
    width: 200px;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;

}

.container-nav  a:hover{
    background-color: darkgoldenrod;
    color: black;
}

/*--------------------------------------------*/

/*Services*/

.container-services{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 80px;    

}

.service-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    margin-bottom: 10px;
    font-size: 2em;
    
  
}

.service-title h3{
    background-color: #D28900;
    width: 50%;
    border-radius: 10px;
    padding: 10px ;
    text-align: center;
}

.container-services .services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 400px;
    height: 400px;
    background-color: #D28900;
    text-align: center;
    border-radius: 10px;
    font-size: 1.5em;
}

.container-services .services img{
    background-color: #D28900;
    padding: 20px;
}

.container-services div:hover{
    background-color: darkgoldenrod;
    color: black;
}

.container-services img:hover{
    background-color: darkgoldenrod;
}
/*--------------------------------------------*/

/*About*/



.container-about{
    float:center;
    margin: 60px auto;
    width: 50%;
    padding: 50px;
    border-radius: 16px;
    text-align: center;
    
   
     
    
}

.container-about h3{
    font-size: 2em;
    background-color: #D28900;
    border-radius: 10px;
    padding: 10px;    
    
}


.container-about p{
    border: 1px solid darkgoldenrod;
    word-spacing: 1px;
    margin-top: 80px; 
    
}


.container-about p,span{
    background-color: #D28900;
    font-size: 30px;
    border-radius: 10px;
    
    
}

.realce{
    font-weight: bold;
}

/*---------------------------------------------------------*/

/*Contact Me*/

.container-contatos{
    float:center;
    margin: 60px auto;
    padding: 50px;
    border-radius: 16px;
    text-align: center;
}

.container-contatos h3{
    font-size: 2em;
    
}

.container-contatos .contactme{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: center;
    background-color: #D28900;
   
    border-radius: 10px;
    padding: 10px ;
    text-align: center;
    
}

.container-contatos .avaliable{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:  2px solid rgb(49, 36, 1);
    border-radius: 10px;
    background-color: darkgoldenrod;
    color: white;
    margin-top: 80px; 
}

.container-contatos .avaliable:hover{
    background-color: #D28900;
}
.container-contatos .tel{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
    padding: 30px;

}

.container-contatos .tel a {
    margin: 20px;
    font-size: 2em;
    background-color: #D28900;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

.container-contatos .tel a:hover {
    color: black;
    background-color: darkgoldenrod;
}

.container-contatos .email{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-contatos .email a {
    margin: 20px;
    font-size: 2em;
    background-color: #D28900;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

.container-contatos .email a:hover {
    color: black;
    background-color: darkgoldenrod;
}

.icon{
    width: 150px;
}

.linkedin{
    width: 100px;
    float:center;
    margin: 60px auto;
    padding: 20px;
    text-align: center;
   
    
}

.linkedin img{
    width: 120px;
    
} 

.linkedin-p {
    text-decoration: none;
    color: black;
    font-size: 2em;
}

small{
    font-size: 1.5em;
}

.back a{
    background-color: #D28900;
    color: white;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    
}



footer{
    float:center;
    margin: 5px auto;
    padding: 10px;
    border-radius: 16px;
    text-align: center;
    font-weight: bold;
    
}